/* Set margin, padding and font for whole page */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body CSS - shared bg color */
body {
    background-color: rgb(156, 178, 219);
    color: white;
}

/* Image size */
img {
    width: 400px;
    height: 400px;
}

/* navigation bar styles */
/* nav ul slects any ul that is inside a nav */
nav ul {
    /* Remove bullet points */
    list-style-type: none;
    /* display flex so elements appear in a row */
    display: flex;
    background-color: #a4c5db;
}

/* List items within any navigation bar styles */
nav ul li {
    /* space between element and border */
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    /* space between border and other elements */
    margin: 5px;
    background-color: #82bab2;
}

/* remove default a element CSS */
a {
    all: unset;
}

/* Center images on webpage */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
    padding: 10px;
}

/* center text on webpage */
.center-text {
    text-align: center;
}

/* Animate image */
#animate{
    /* Duration of animation */
    animation-duration: 3s;
    animation-name: slidein;
    /* Animation will repeat forever */
    animation-iteration-count: infinite;
    /* Causes direction of animation to change */
    animation-direction: alternate;
}
    /* Keyframe for animation */
    /* Causes image to slide in */
@keyframes slidein {
    from {
    translate: 150vw 0;
    scale: 200% 1;
    }
  
    to {
    translate: 0 0;
    scale: 100% 1;
    }
}

/* Title styling */
#title {
    color: #f0b3db;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(223, 121, 180);
}

/* First div specific bg */
#first-div {
    background-color: #82bab2;
}

/* Second div specific bg */
#second-div {
    background-color: #b878dd;
}

/* Third div specific bg */
#third-div {
    background-color: rgb(245, 203, 112);
}

/* Ending styling */
#end {
    text-shadow: 2px 2px 4px #000000;
}
